<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="app/img/logo.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">SIGN IN TO CONTINUE.</p>
         <form role="form" name="form" novalidate="" class="mb-lg form ng-pristine ng-invalid ng-invalid-required" ng-submit="login(form)">
            <div class="form-group has-feedback">
               <input id="exampleInputEmail1" type="email" placeholder="Enter email" autocomplete="off" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-email" ng-model="user.email"
                      name="email" required="" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback">
               <input id="exampleInputPassword1" type="password" placeholder="Password" class="form-control ng-pristine ng-invalid ng-invalid-required"
                      required="" ng-model="user.password" name="password" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                     <input type="checkbox" value="" />
                     <span class="fa fa-check"></span>Remember Me</label>
               </div>
               <div class="pull-right"><a ui-sref="page.recover" class="text-muted">Forgot your password?</a>
               </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary mt-lg btn-login">Login</button>
         </form>
         <p class="pt-lg text-center">Need to Signup?</p><a href="/signup" ui-sref="page.register" class="btn btn-block btn-default btn-register">Register Now</a>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy; {{app.year}} - {{ app.name }}
         <br/>{{app.description}}</span>
   </div>
</div>