<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Insight</h1>
    <p class="lead">View the latest traffic from your website</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Organization</th>
            <th>Location</th>
            <th>Page views</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="insight in insights">
            <td></td>
            <td ng-bind="insight.organization"></td>
            <td ng-bind="insight.location"></td>
            <td ng-bind="insight.page_views"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
    </p>
  </div>
</footer>